<h1>Add a collection</h1>
<p>Add a collection here:</p>

<form action="/collections" method="post">
  <label for="collectionName">collection name</label>
  <input id="collectionName" name="collectionName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/collections">Back to collections.</a></p>